@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

$all-pokemons: #3E75C3;
$normal: #909090;
$fighting: #C44D61;
$flying: #758CBD;
$poison: #AC6ACA;
$ground: #CE8056;
$rock: #84BEB3;
$bug: #9BBA48;
$ghost: #616EB7;
$steel: #6594A1;
$fire: #E96303;
$water: #4F77BE;
$grass: #73B861;
$electric: #D4BC34;
$psychic: #EB8B85;
$ice: #71BAAC;
$dragon: #2C6AC1;
$dark: #595761;
$fairy: #E296E1;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inicio{
    height: 80vh;
    

    .elements{
        background: #FD1717;
        height: 60%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        .logo{
            width: 300px;
            position: relative;
            top: 85px
        }

        .pokeball{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            top: 150px;
            animation: pokeball 5s ease-in-out infinite;

            .luzes{
                width: 200px;
            }

            img{
                width: 600px;
            }
        }
    }
}

.conteudo{
    display: flex;
    max-width: 1350px;
    margin: 0 auto 5rem;
    justify-content: center;

    .types{
        
        .type{
            display: flex;
            align-items: center;
            height: 50px;
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
            padding: 0 14px;
            cursor: pointer;
            width: fit-content;
            border: 0;

            & + .type{
                margin-top: 1rem;
            }

            &:hover, .type.active{
                background: #DBDBDB;
                border-radius: 10px;

                img{
                    filter: grayscale(0);
                }

                .type-all-pokemons{
                    color: $all-pokemons;
                }
                .type-normal{
                    color: $normal;
                }
                .type-fighting{
                    color: $fighting;
                }
                .type-flying{
                    color: $flying;
                }
                .type-poison{
                    color: $poison;
                }
                .type-ground{
                    color: $ground;
                }
                .type-rock{
                    color: $rock;
                }
                .type-bug{
                    color: $bug;
                }
                .type-ghost{
                    color: $ghost;
                }
                .type-steel{
                    color: $steel;
                }
                .type-fire{
                    color: $fire;
                }
                .type-water{
                    color: $water;
                }
                .type-grass{
                    color: $grass;
                }
                .type-electric{
                    color: $electric;
                }
                .type-psychic{
                    color: $psychic;
                }
                .type-dragon{
                    color: $dragon;
                }
                .type-dark{
                    color: $dark;
                }
                .type-fairy{
                    color: $fairy;
                }
            }

            img{
                margin-right: 15px;
                filter: grayscale(100%);

                
            }
        }
    }
}

@keyframes pokeball {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}

.all-pokemons{
    background: $all-pokemons;
}
.normal{
    background: $normal;
}
.fighting{
    background: $fighting;
}
.flying{
    background: $flying;
}
.poison{
    background: $poison;
}
.ground{
    background: $ground;
}
.rock{
    background: $rock;
}
.bug{
    background: $bug;
}
.ghost{
    background: $ghost;
}
.steel{
    background: $steel;
}
.fire{
    background: $fire;
}
.water{
    background: $water;
}
.grass{
    background: $grass;
}
.electric{
    background: $electric;
}
.psychic{
    background: $psychic;
}
.ice{
    background: $ice;
}
.dragon{
    background: $dragon;
}
.dark{
    background: $dark;
}
.fairy{
    background: $fairy;
}

